
/SimpleTextAreaDemo/build/
/SimpleTextAreaDemo/dist/
/SimpleTextAreaDemo/nbproject/private/
/SimpleTextEditExample/nbproject/private/
/SimpleTextEditExample/dist/
/SimpleTextEditExample/build/
/MenuExampleDemo/nbproject/private/
/MainMenuExampleDemo/nbproject/private/
/MainMenuExampleDemo/build/
/MainMenuExampleDemo/dist/
/Adam's_Code_Editor/nbproject/private/
/Adam's_Code_Editor/dist/
/Adam's_Code_Editor/build/