
/SimpleTextAreaDemo/build/
/SimpleTextAreaDemo/dist/
SimpleTextAreaDemo/nbproject/private/private.properties
/SimpleTextEditExample/nbproject/private/
/SimpleTextEditExample/dist/
/SimpleTextEditExample/build/